.darknlight {
    position: fixed;
    right: 0;
    top: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: var(--default-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 0.2rem;
    cursor: pointer;
    z-index: 1000;
}

.darknlight i {
    font-size: 1.5rem;
    color: var(--default-white);
    transition: all 200ms ease-in-out;
}
.darknlight i:nth-child(2) {
    font-size: 1.5rem;
    color: #dbdb00;
}

.darknlight .border {
    width: 100%;
    position: absolute;
}

.darknlight .border .circle {
    background-color: var(--secondary-color);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transform: translateX(54px);
    transition: all 400ms ease-in-out;
}

.darknlight .border .circle.toggle {
    transform: translateX(0);
}
.darknlight.bg {
    background-color: var(--default-white);
}

body.dnl {
    background-color: var(--default-black);
}

h5.dnl,
h4.dnl,
.lighty.dnl,
.icons.dnl,
.icons a i.dnl,
.info.dnl,
.about.dnl,
.about p.dnl {
    color: var(--default-white) !important;
}
