.darknlight {
    position: fixed;
    right: 0;
    top: 20px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: var(--default-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    z-index: 1000;
}

.darknlight i {
    font-size: 2rem;
    color: var(--default-white);
    transition: all 200ms ease-in-out;
}

.darknlight.moon {
    background-color: var(--default-white);
}

.darknlight > i.sun {
    color: #dbdb00;
}

.darknlight > i.moon {
    color: #fff;
}

body.dnl {
    background-color: var(--default-black);
}

h5.dnl,
h4.dnl,
.lighty.dnl,
.icons.dnl,
.icons a i.dnl,
.info.dnl,
.about.dnl,
.about p.dnl {
    color: var(--default-white) !important;
}
