.projects {
    margin: 3rem 0;
    overflow-x: hidden;
}

.projects h4 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    text-align: center;
}

.projects .project__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects .project__wrapper a {
    color: var(--primary-color);
}

.projects .project__wrapper .project {
    width: 450px;
    position: relative;
}

.projects .project__wrapper .project .project__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.projects .project__wrapper .project .project__img:hover {
    transform: scale(0.95);
}

.projects .project__wrapper .project .project__img img {
    width: 450px;
}

@media screen and (max-width: 1000px) {
    .projects .project__wrapper .project .project__img img {
        width: 350px;
    }

    .projects .project__wrapper a {
        text-align: center;
    }
}

/* @media screen and (max-width: 820px) {
    .projects .project__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
} */

@media screen and (max-width: 820px) {
    .projects h4 {
        font-size: 1.5rem;
    }
    .projects {
        width: 100%;
    }
    .projects .project__wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .projects .project__wrapper .project .project__img img {
        width: 100%;
    }
    .projects .project__wrapper a {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 430px) {
    .projects {
        padding: 1rem;
    }
    .projects .project__wrapper a h3 {
        font-size: 0.7rem;
    }
}
